<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.pixabay.com/photo/2014/04/18/10/08/blog-327070_640.jpg" height='60' width='70'>
            <b>Blogs Project</b>
        </a>
        <h3 style="color:white">{{user}}</h3>
        <div>
            <a href="/home/" style="color:white" class='btn btn-primary'>home</a>&nbsp;&nbsp;&nbsp;
            <a href="/index/" style="color:white" class='btn btn-primary'>blogs</a>&nbsp;&nbsp;&nbsp;
            <a href="/logout/" style="color:white" class='btn btn-primary'>logout</a>
    </nav>            
    <div class="container">
            <h1>create</h1>
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            {{form | crispy }}
            <center>
                <button type="submit" class="btn btn-primary">save</button>
            </center>
        </form>
        
    
    </div>
</body>
</html>