<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>user</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.pixabay.com/photo/2014/04/18/10/08/blog-327070_640.jpg" height='60' width='70'>
            <strong>Blogs Project</strong>
        </a>
        <h3 style="color:white">{{user}}</h3>
        <div>
            <a href="/home/" style="color:white" class='btn btn-primary'>home</a>&nbsp;&nbsp;&nbsp;
             <a href="/create/" style="color:white" class='btn btn-primary'>create</a>&nbsp;&nbsp;&nbsp;
             <a href="/delete/{{obj.id}}/" style="color:white" class='btn btn-primary'>delete</a>&nbsp;&nbsp;&nbsp;
             <a href="/logout/" style="color:white" class='btn btn-primary'>logout</a>
        </div>
    </nav>            
    <div class="container">
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            {{form | crispy }}
        </form>
        
        {% for blog in blogs %}
           <hr>
           <a href="/detail/{{blog.id}}/"><h2>{{blog.title}}</h2></a>
           <h4>Blog Posted by {{blog.user}} on the date {{blog.date_posted}}</h4>
           <p>{{blog.body}}</p>
          {% if blog.blog_image %}
              <img src="{{blog.blog_image.url}}" height='200' width='200' alt="">
          {% endif %}
          <hr>
        {% endfor %}
    </div>    
    
</body>
</html>